name: Build ZMK firmware
on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@v0.3
    with:
      # Tell the workflow where your custom boards/shields folder is
      extra-modules: "/github/workspace/boards"
